@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{

    margin: 0;
    padding: 0;
}

    #link {
        /*ajustes nos links de esqueceu senha e faça o cadastro*/
        margin-left: 48px;
        color: #F2A92F;
    }

    body {
        /*ajuste no fundo*/
        font-size: 14px;
        background-attachment: fixed;
        background-image: linear-gradient(#1f4690, #152361);
        height: 100%;
        width: 100%;
    }

    #perfil{
        /*ajuste no fundo*/
        font-size: 14px;
        background-image: none;
        background-color: 200, 200, 200;
        height: 100%;
        width: 100%;
    }

    .flex-container {
        display: flex;
        width: 100%;
    }

              #logo
              {
                transform: translate(-50%);
                  margin-left: 50%;
                  margin-top: 1%;
                  height: 40px;
              }

              body
              {            /*ajuste no fundo*/
                height: 100vh;
                width: 100%;
                font-family:'Roboto';
                background-color:#cfd0d3;
              }

    /*------BARRA DE ACESSIBILIDADE-----*/
    .acessibilidade {
        background-color: #fff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1em;
    }

/*------CONTEÚDO PÁGINA DE ACESSIBILIDADE-------*/

.acessibility-content{
    
    margin: 2% 5% 5% 5%;
    font-family: Roboto;
    font-size: 1rem;
    color:#000
  }

/*------BARRA DE ACESSIBILIDADE-----*/
              .acessibilidade
              {
                  background-color: #fff;
                  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
                  font-size: 1em;
              }
              #logoNav
              {
                height: 40px;
              }
              #perfil{
                transform: translate(-50%);
                padding-left: 100%;
              }
              h1
              {
                  text-align: center;
                  font-family: Agrandir;
                  font-size: 2.5rem;
                  color: #F2A92F;
              }
              .atalhos, .links_access
              {
                  list-style: none;
                  display: inline-flex;
                  padding: 5px;
              }
              .atalhos li, .links_access li
              {
                  padding-left: 10px;
              }

    #foto {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    svg{
        width: 75px;
        height: 75px;
    }


    h1 {
        text-align: center;
        font-family: Agrandir;
        font-size: 2.5rem;
        color: #F2A92F;
    }

    h2 {
        display: flex;
        justify-content: center;
    }

    .atalhos,
    .links_access {
        list-style: none;
        display: inline-flex;
        padding: 5px;
    }
    #iconNav{
        padding-left: 77.5%;
    }

/*---------Parte do tinder----------*/
body{
    height: 100%;
    width: 100%;
    font-family:'Roboto';
    background-color: #fff;
    background-attachment: fixed; /*edit*/
}

.navbar{
    display: flex;
    padding: 15px 15px;
    width: 100%;
    height: 70px;
    background-color: #162461;
}

.navbar i{
    font-size: 1.5rem;
    color: white;
}

.navbar i:nth-child(2){
    color: #F2A92F;
}

svg{
    height: 35px;
    width: 50px;
}

.photo-actions{
    height: calc(85vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo{
    width: 98vw;
    height: 85vh;
    background: url(../imagens/gata.jpg) center center/cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    color: #eee;
    box-shadow: 0 2px 10px 0 rgba(136, 136, 136, 0.77);
}

.photo-text{
    padding: 15px;
    background: rgb(2, 0, 36);
    background: rgb(2, 0, 36);
    background: linear-gradient(
                      100deg,
                      rgba(2, 0, 36, 1) 0%,
                      rgba(35, 65, 0) 0%,
                      rgba(0,0,0,.7) 50%
                      );
    border-radius: 10px;
}

.name-age{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.name-age h2{
    font-size: 1.5rem;
    font-weight: 500;
}

.name-age h2:nth-child(2){
    margin-left: 10px;
    font-weight: 400;
}

.bio{
    line-height: 1.5rem;
    font: 500;
    font: 1rem;
    color: rgb(172, 169, 169);
}

.bio h2{
    font-size: 1.2rem;
    font-weight: 500;
}

.actions{
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    
}

.action{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 2rem;
    box-shadow: 0 2px 6px 0 rgba(112, 125, 135, .15);
}

.actions .action:nth-child(1){
    color: rgb(244, 240, 18);
}

.actions .action:nth-child(2){
    font-size: 2rem;
    color: rgb(244, 18, 78);
    margin: 0 1rem;
}

.actions .action:nth-child(3){
    font-size: 2rem;
    margin: 0 1rem;
    color: rgb(8, 190, 203);
}

.actions .action:nth-child(4){
    color: rgb(7, 246, 146);
    
}


/*-----RODAPÉ------*/
.flex-container-footer
{
    display: inline;
    width: 100%;
}

footer{
    justify-content: center;
    text-align: center;
    background-color: #162461;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-image: linear-gradient(#1f4690, #152361);
    font-size: 1.05em;
    align-items: center;
    height: 80px;

    bottom: 0px;
    width: 100%;
    
}


/*---media queries menu responsivo--- */

@media screen and (max-width: 1680px){
    .links_access{

                      margin-left: 45%;
    }
}
@media screen and (max-width: 1345px){
    .links_access{

                      margin-left: 40%;
    }
}
@media screen and (max-width: 1230px){
    .links_access{

                      margin-left: 30%;
    }
}
@media screen and (max-width: 1030px){
    .links_access{

                      margin-left: 25%;
    }
    .photo{
                      width: 367px;
                      height: 684px;
    }
    .action{
                      flex: initial;
    }
    .photo-actions{
                      justify-content: center;
    }

    .navbar{
                      width: auto;
                      margin: auto;
    }
}
@media screen and (max-width: 850px){

                      .atalhos{
                      display: none;
    }
    .links_access{
                      margin: auto;
    }
}

@media screen and (max-width: 740px){

    nav{
                      justify-content: left;
    }
    .menu{
                      display: none;
    }

    label[for="bt_menu"]{
                      display: block;
                      margin: 2%;
    }

    #bt_menu:checked ~ .menu{
                      display: block;
                      width: 100%;
    }

    .menu li{
                      padding: 5% 1px; /*corrigido*/

    }
   
    .menu li ul{
                      position:static; /*acrescentado*/
        
    }
    .menu li ul li{
                      position: relative; /*acrescentado*/
                      display: block; /*acrescentado*/

    }


}

    .atalhos li,
    .links_access li {
        padding-right: 10px;
    }

    .links_access {
        margin-left: 50%;
    }

    /*------FORMULÁRIO-------*/
    form {
        color: #FFF;
        font-family: Roboto;
        margin-top: 20px;
        align-self: center;

    }

    label,
    legend {
        margin-left: 6px;
        font-size: 1.25rem;
    }

    input,
    select,
    textarea {
        filter: none;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 15px;
        padding-left: 15px;
        width: 200px;
        font-family: Roboto;
        /*corrigido*/

    }

    fieldset {
        /*corrigido*/
        border-color: #F2A92F;
        border-radius: 15px;
        padding: 30px;
        /*corrigido*/
        margin: auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%);

    }

    #termos

    /*correção nos termos*/
        {

        width: 20px;
        /*corrigido*/
        height: 20px;
        transform: translate(-25%, 25%);
        margin-left: 15px;
    }

    button {
        margin-left: 50%;
        width: 150px;
        /*corrigido*/
        padding: 10px;
        border-radius: 50px;
        color: #1f4690;
        background-color: #F2A92F;
        border: none;
        transform: translate(-50%);
        font-family: roboto-black;
        font-size: large;
        margin-top: 10px;
        margin-bottom: 10px;


    }

    .required::after {
        content: " *";
        color: red;
    }

    /*-----RODAPÉ------*/

    footer {
        /*ajustes no footer, porém falta arrumar*/
        display:inline;
        justify-content: center;
        text-align: center;
        background-color: #162461;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        font-size: 1em;
        align-items: center;
        height: 50%;
        position: relative;
        bottom: 0;
        width: 100%;
        height: 50%;
        margin-top: 45%;
    }

    /* ---media queries menu responsivo--- */
    @media screen and (max-width: 1680px) {
        .links_access {

            margin-left: 45%;
        }
    }

    @media screen and (max-width: 1345px) {
        .links_access {

            margin-left: 40%;
        }
    }

    @media screen and (max-width: 1230px) {
        .links_access {

            margin-left: 30%;
        }
    }

    @media screen and (max-width: 1024px) {
        .links_access {

            margin-left: 25%;
        }
    }

    @media screen and (max-width: 850px) {

        .atalhos {
            display: none;
        }

        .links_access {
            margin: auto;
        }
    }

    @media screen and (max-width: 740px) {

        nav {
            justify-content: left;
        }

        .menu {
            display: none;
        }

        label[for="bt_menu"] {
            display: block;
            margin: 2%;
        }

        #bt_menu:checked~.menu {
            display: block;
            width: 100%;
            /*corrigido*/



        }

        .menu li {
            padding: 5% 1px;
            /*corrigido*/


        }

        .menu li ul {
            position: static;
            /*acrescentado*/

        }

        .menu li ul li {
            position: relative;
            /*acrescentado*/
            display: block;
            /*acrescentado*/

        }

        #logo {

            margin-top: 10%;
        }

    }

    /*Adicionando as fontes customizadas*/
    @font-face {
        font-family: Agrandir;
        src: local("Agrandir"), url(../fontes/Agrandir/Agrandir-GrandHeavy.otf);
    }

    @font-face {
        font-family: Roboto;
        src: local("Roboto"), url(../fontes/Roboto/Roboto-Regular.ttf);
    }

    @font-face {
        font-family: Roboto-black;
        src: local("Roboto"), url(../fontes/Roboto/Roboto-Black.ttf);
    }