@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: roboto;
}

.links{
    padding-top: 10px;
}

.link {
    /*ajustes nos links de esqueceu senha e faça o cadastro*/
    color: #F2A92F;
}

body {
    /*ajuste no fundo*/
    font-size: 14px;
    background-attachment: fixed;
    background-image: linear-gradient(#1f4690, #152361);
    height: 100%;
    width: 100%;
}

#fundo {
    /*ajuste no fundo*/
    font-size: 14px;
    background-image: none;
    background-color: rgb(220, 220, 220);
    height: 100%;
    width: 100%;
}

.flex-container {
    display: flex;
    width: 100%;
}

#logo {
    transform: translate(-50%);
    margin-left: 50%;
    margin-top: 1%;
    height: 100px;
}

/*------CONTEÚDO PÁGINA DE ACESSIBILIDADE-------*/

.acessibility-content {

    margin: 2% 5% 5% 5%;
    font-family: Roboto;
    font-size: 1rem;
    color: #000
}

/*------BARRA DE ACESSIBILIDADE-----*/
.acessibilidade {
    background-color: rgb(220, 220, 220);
    font-size: 1em;
}

.navegacao{
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-image: linear-gradient(#1f4690, #152361);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navegacao ul{
    display: flex;
    list-style: none;
}

.navegacao ul li{
    padding-left: 80px;
}

.navegacao a img{
    width: 65%;
    height: 65%;
}

svg{
    width: 45px;
}
.atalhos,
.links_access {
    list-style: none;
    display: inline-flex;
    padding: 5px;
}




#foto {
    padding-bottom: 2%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#foto img{
    width: 13%;
    height: 13%;
}

h1 {
    text-align: center;
    font-family: Agrandir;
    font-size: 2.5rem;
    color: #F2A92F;
}

h2{
    display: flex;
    justify-content: center;
}

.pbio{
    display: flex;
    justify-content: center;
    line-height: 1.5rem;
    font: 500;
    font: 1rem;
    color: #9b9b9b;
}

#follow{
    margin-top: 20px;
    box-shadow: 0px 10px 10px  rgba(0, 0, 0, 0.281);
    border-radius: 10px;
    background-color: #FFF;
    margin-left: 43%;
    margin-right: 43%;
    border-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.seguindo, .seguidores, .divselecao{
    height: 3em;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seguindo{
    border-left-style: inset;
}

.selecao{
    margin-left: 30%;
    margin-right: 30%;
    border-color: #bfbfbf;
    border-style: groove;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.selecao img{
    width: 50%;
    height: 50%;
}

.divselecao{
    border-color: #bfbfbf;
    border-left: groove;
    border-right: groove;
}

#postagens{
    margin-left: 10%;
    margin-right: 10%;
    border-color: #bfbfbf;
    border-style: groove;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#postagens img{
    border-radius: 10px;
    width: 33.3%;
    height: 33.3%;
}



.atalhos,
.links_access {
    list-style: none;
    display: inline-flex;
    padding: 5px;
}

#conteudo{
    font-size: 1.25rem;
    font-family: Roboto;
    margin-left: 6px;
}

/*---------Parte do tinder----------*/

.photo-actions {
    height: calc(85vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    width: 98vw;
    height: 85vh;
    background: url(../imagens/gata.jpg) center center/cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;  
    color: #eee;
    box-shadow: 0 2px 10px 0 rgba(136, 136, 136, 0.77);
}

.photo-text {
    padding: 15px;
    background: rgb(2, 0, 36);
    background: rgb(2, 0, 36);
    background: linear-gradient(100deg,
            rgb(0, 0, 0) 0%,
            rgba(0, 0, 0, .7) 0%);
    border-radius: 10px;
}

.name-age {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.name-age h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.name-age h2:nth-child(2) {
    margin-left: 10px;
    font-weight: 400;
}

.bio {
    line-height: 1.5rem;
    font: 500;
    font: 1rem;
    color: rgb(172, 169, 169);
}

.bio h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.actions {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 0rem 0;

}

#actions {
    box-shadow: 0px 10px 2px 1px rgba(0, 0, 0, .25);
    background-image: linear-gradient(#1f4690, #152361);
    padding: 1% 0% 1% 0%;
    border-radius: 50px 50px 0px 0px;

}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    padding-inline: 2%;
}

.matchIcon {
    filter: invert();
    width: auto;
}

#retro {
    height: 90px;
}

#negar {
    height: 50px;
}

#fav {
    height: 70px;
}

#match {
    height: 70px;
}

/*-----RODAPÉ------*/
.flex-container-footer {
    display: inline;
    width: 100%;
}

#rodapeLogCad {
    justify-content: center;
    text-align: center;
    background-color: #050f3b;
    color: #fff;
    font-size: 1.05em;
    align-items: center;
    height: 80px;
    bottom: 0px;
    width: 100%;
    margin-top: 582px;

}


#rodape{
    /*ajustes no footer, porém falta arrumar*/
    justify-content: center;
    text-align: center;
    background-color: #050f3b;
    color: #fff;
    font-size: 1.05em;
    align-items: center;
    height: 80px;
    bottom: 0px;
    width: 100%;
    
}





.atalhos li,
.links_access li {
    padding-right: 10px;
}

.links_access {
    margin-left: 50%;
}


/*------FORMULÁRIO-------*/
form {
    color: #FFF;
    font-family: Roboto;
    margin-top: 20px;
    margin-left: 50%;

}

label,
legend {
    margin-left: 6px;
    font-size: 1.25rem;
}

input,
select,
textarea {
    filter: none;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    padding-left: 15px;
    width: 200px;
    font-family: Roboto;
    /*corrigido*/

}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: #F2A92F;
    border-radius: 15px;
    padding: 30px;
    position: absolute;
    transform: translate(-50%);
}

#termos

/*correção nos termos*/
    {

    width: 20px;
    /*corrigido*/
    height: 20px;
    transform: translate(-25%, 25%);
    margin-left: 15px;
}

button {
    width: 10%;
    height: 35px;
    /*corrigido*/
    border-radius: 15px;
    border: none;
    font-family: roboto-black;
    font-size: large;
}

#logreg{
    color: #1f4690;
    background-color: #F2A92F;
    width: 140px;
}

.botao{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.editar {
    margin-bottom: 30px;
    box-shadow: 0px 10px 10px  rgba(0, 0, 0, 0.281);
}

.required::after {
    content: " *";
    color: red;
}

/* ---media queries menu responsivo--- */

@media screen and (max-width: 1680px) {
    .links_access {

        margin-left: 45%;
    }
}

@media screen and (max-width: 1345px) {
    .links_access {

        margin-left: 40%;
    }
}

@media screen and (max-width: 1230px) {
    #follow{
        font-size: 0.65em;
    }

    .links_access {

        margin-left: 30%;
    }
}

@media screen and (max-width: 1024px) {
    .editar{
        font-size: 0.75em;
    }    
    .links_access {

        margin-left: 25%;
    }
}

@media screen and (max-width: 850px) {
    .atalhos {
        display: none;
    }

    .links_access {
        margin: auto;
    }
}

@media screen and (max-width: 750px){
    .selecao{
        font-size: 0.75em;
    }
    #follow{
        font-size: 0.5em;
    }

}

@media screen and (max-width: 600px){
    .editar{
        width: 12%;
        font-size: 0.5em;
    }
    .selecao{
        font-size: 0.5em;
    }
    #follow{
        margin-left: 40%;
        margin-right: 40%;
    }

}

@media screen and (max-width: 465px){
    .editar{
        width: 15%;
        font-size: 0.5em;
    }
    .selecao{
        font-size: 0.5em;
    }
    #follow{
        margin-left: 37%;
        margin-right: 37%;
    }

}

@media screen and (max-width: 410px){
    .selecao{
                margin-left: 20%;
                margin-right: 20%;
            }
}

/*Adicionando as fontes customizadas*/
@font-face {
    font-family: Agrandir;
    src: local("Agrandir"), url(../fontes/Agrandir/Agrandir-GrandHeavy.otf);
}

@font-face {
    font-family: Roboto;
    src: local("Roboto"), url(../fontes/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-black;
    src: local("Roboto"), url(../fontes/Roboto/Roboto-Black.ttf);
}